#logo{
    text-align: center;
}

#map{
    width: 90%;
}
nav{
    background-color: blue;
}
#barra li{
    display:inline-block;
    width:13%;
    padding:10px 10px;
    text-align:center;
}

.navegacion{
    color: white;
}