#logo{
    text-align: center;
}

#map{
    width: 90%;
}
nav{
    background-color: rgba(143, 143, 241, 0.685);
}
#barra li{
    display:inline-block;
    width:13%;
    padding:10px 10px;
    text-align:center;
}